-
  const data = {
    dsk: {
      title: "ДСК Столица",
      link: 'https://elizernem.github.io/dsk_project/',
      git: 'https://github.com/elizernem/dsk_project',
      text: "Тестовое задание для компании ДСК Столица. Макет был представлен в формате jpg",
      src: "img/dsk.png",
      alt: "Превью сайта ДСК Столица",
      badges: {
        html: {
          title: "HTML",
          bg: "bg-success",
          textColor: "text-dark",
        },
        css: {
          title: "CSS",
          bg: "bg-primary",
        },
        Sass: {
          title: 'Sass',
          bg: 'bg-info'
        },
      },
    },
    kekstagram: {
      title: "Кекстаграм",
      link: 'https://elizernem.github.io/2058175-kekstagram-simple-27/',
      git: 'https://github.com/elizernem/2058175-kekstagram-simple-27',
      text: "Сервис просмотра изображений",
      src: "img/kekstagram.png",
      alt: "Превью сайта Кекстаграм",
      badges: {
        css: {
          title: "CSS",
          bg: "bg-primary",
        },
        js: {
          title: "JS",
          bg: "bg-warning",
        },
      },
    },
    sedona: {
      title: "Седона",
      link: 'https://elizernem.github.io/2058175-sedona-34/',
      git: 'https://github.com/elizernem/2058175-sedona-34',
      text: "Сайт туристического городка Седона. Только десктопная версия",
      src: "img/sedona.png",
      alt: "Превью сайта туристического городка Седоны",
      badges: {
        html: {
          title: "HTML",
          bg: "bg-success",
          textColor: "text-dark",
        },
        css: {
          title: "CSS",
          bg: "bg-primary",
        },
      },
    },
    sedonaAdaptive: {
      title: "Седона V2.0",
      link: 'https://elizernem.github.io/2058175-sedona-26/index.html',
      git: 'https://github.com/elizernem/2058175-sedona-26',
      text: "Вторая версия сайт туристического городка. Есть адаптивная версия",
      src: "img/sedona.png",
      alt: "Превью сайта туристического городка Седоны",
      badges: {
        html: {
          title: "HTML",
          bg: "bg-success",
          textColor: "text-dark",
        },
        css: {
          title: "CSS",
          bg: "bg-primary",
        },
        less: {
          title: "Less",
          bg: "bg-info",
          textColor: "text-dark",
        },
        gulp: {
          title: "gulp",
          bg: "bg-danger",
        },
      },
    },
    shulte: {
      title: "Таблица Шульте",
      link: 'https://elizernem.github.io/Schulte_table/index.html',
      git: 'https://github.com/elizernem/Schulte_table',
      text: "Классическая методика для оценки внимания",
      src: "img/shulte.png",
      alt: "Превью сайта с таблицей Шульте",
      badges: {
        html: {
          title: "HTML",
          bg: "bg-success",
          textColor: "text-dark",
        },
        css: {
          title: "CSS",
          bg: "bg-primary",
        },
        js: {
          title: "JS",
          bg: "bg-warning",
        },
      },
    },
    stroop: {
      title: "Тест Струпа",
      link: 'https://elizernem.github.io/strooptest/',
      git: 'https://github.com/elizernem/strooptest',
      text: "Веб-версия методики для оценки внимания - тест Струпа",
      src: "img/stroop.png",
      alt: "Превью сайта с тестом Струпа",
      badges: {
        html: {
          title: "HTML",
          bg: "bg-success",
          textColor: "text-dark",
        },
        css: {
          title: "CSS",
          bg: "bg-primary",
        },
        Sass: {
          title: 'Sass',
          bg: 'bg-info'
        },
        js: {
          title: "JS",
          bg: "bg-warning",
        },
        gulp: {
          title: "gulp",
          bg: "bg-danger",
        },
      },
    },
    tocha: {
      title: 'Tocha',
      link: 'https://elizernem.github.io/tocha/',
      git: 'https://github.com/elizernem/tocha',
      text: 'Тестовое задание по вёрстке лендинга Telegram бота tocha',
      src: 'img/tocha.png',
      alt: 'Превью сайта телеграм бота Tocha',
      badges: {
        html: {
          title: "HTML",
          bg: "bg-success",
          textColor: "text-dark",
        },
        css: {
          title: "CSS",
          bg: "bg-primary",
        },
        Sass: {
          title: 'Sass',
          bg: 'bg-info'
        },
        js: {
          title: "JS",
          bg: "bg-warning",
        },
      },
    }
  };
